<h1>Editing Comment in Post "<%= link_to @comment.post.title, @comment.post %>"</h1>

<%= render 'form', comment: @comment %>

<%= render 'shared/edit_footer', object: @comment %>

<h1>Original Post</h1>
<%= render 'posts/post', post: @comment.post %>
