<h1>New Comment in Post "<%= link_to @comment.post.title, @comment.post %>"</h1>

<%= render 'form', comment: @comment %>

<div class=footer>
  <p><%= link_to 'Back to Post', @comment.post %></p>
</div>
