<div class=footer>
  <p>
    <% if higher_rank?(object) -%>
      <%= link_to 'Destroy', object, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end -%>
    <%= link_to "Back to #{object.model_name.name}", send("#{object.model_name.name.underscore}_path", object) %>
  </p>
</div>
