<h1>Welcome to Mini Forum!</h1>

<p>Welcome to my humble website, written in Ruby on Rails 6.1.3.2.
<br>Please remember to be nice to each other and never post illegal content.
<br>I am not sure what else to write here to be honest.
<br>This is just placeholder text anyway.
<br>Have fun and enjoy your stay!
</p>
